# Core dependencies
fastapi
uvicorn[standard]
python-dotenv

# AI/ML
transformers
torch>=2.0.0
# sentencepiece

# Database
sqlalchemy
pymysql
# psycopg2-binary
alembic

# Security
cryptography

# Utilities
beautifulsoup4
requests
# python-dotenv
pydantic
pydantic-settings
redis
firebase-admin
lxml
newspaper3k

# Dev tools
pytest
pytest-cov
pylint
flake8
